<!-- 全ユーザーの一覧リスト -->

<!-- header -->
<%= render 'books/header', books: @books %>

<div class="container">
  <div class="row">
    <div class="col-lg-3" style="background-color: orange;">
      <%= render 'books/new', books: @books %>
    </div>
    <div class="col-lg-9">
      <h1>Books</h1>
      <!-- 投稿一覧表 -->
      <table>
        <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td></td>
              <td>
                  <%= user.name %>
              </td>
              <td>
                <%= link_to "show", user_path(user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'books/footer', books: @books %>
