<!-- 全ユーザーの一覧リスト -->

<!-- header -->
<%= render 'books/header', books: @books %>

<div class="container">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-xs-3">
      <%= render 'books/new', user: current_user%>
    </div>
    <!-- 登録User一覧 -->
    <div class="col-xs-9">
      <h1>Users</h1>
      <table class="table">
        <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= attachment_image_tag @user,:profile_image, :fill, 100, 100, format: 'jpeg' %>
              </td>
              <td>
                  <%= user.name %>
              </td>
              <td>
                <%= link_to "show", user_path(user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<!-- footer -->
<%= render 'books/footer', books: @books %>
</div>


