<!-- top画面（ここからsign_in/sigin_upの画面を選択させる） -->
<!-- header -->
<%= render 'books/header', books: @books %>

<div class="container">
  <div class="row">

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <h1 class="jquery">Hello BOOKers!</h1>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  </div>

  <div id="conteiner">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
    </div>
  </div>

  <!-- footer -->
  <%= render 'books/footer', books: @books %>
</div>
