<!-- ログインしているユーザー情報の表示 -->

<table class="table table-striped">
  <h2>User info</h2>
  <table class="table">
    <thead>
      　<tr>
        <!-- 画像組み込む -->
        <%= attachment_image_tag user,:profile_image, :fill, 100, 100, format: 'jpeg' %>
        </tr>
        <tr>
          <th>name</th>
          <th>
            <%= user.name %>
          </th>
        </tr>
        <tr>
          <th>introduction</th>
          <th>
            <%= user.introduction %>
          </th>
        </tr>
    </thead>
  </table>

  <div>
    <p><%= link_to 'setting', edit_user_path(user), class: "btn btn-default" %></p>
  </div>

  <h2>NEW book</h2>
  <%= form_for(@book, url: books_path) do |f| %>

    <% if @book.errors.any? %>
      <h2><%= @book.errors.count %> errors prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

    <p>Title</p>
    <%= f.text_field :title %>

    <p>Body</p>
    <%= f.text_area :body %>

    <br><%= f.submit 'Create Book' %></br>
  <% end %>
</table>

