<!-- ログインしているユーザー情報の表示 -->

<table class="table table-striped">
  <h2>User info</h2>
  <table class="table">
    <thead>
      　<tr>
        <!-- 画像組み込む -->
        <%= attachment_image_tag user,:profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        </tr>
        <tr>
          <th>name</th>
          <th>
            <%= user.name %>
          </th>
        </tr>
        <tr>
          <th>introduction</th>
          <th>
            <%= user.introduction %>
          </th>
        </tr>
    </thead>
  </table>

  <div>
    <p><%= link_to 'setting', edit_user_path(user), class: "btn btn-default" %></p>
  </div>

  <h2>NEW book</h2>
  <%= form_for(@newbook, url: books_path) do |f| %>

    <p>Title</p>
    <%= f.text_field :title %>

    <p>Body</p>
    <%= f.text_area :body %>

    <br><%= f.submit 'Create Book' %></br>
  <% end %>
</table>

