<!-- 全userの投稿画面 -->
<!-- header -->
<%= render 'books/header', books: @books %>

<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if @newbook.errors.any? %>
      <h2><%= @newbook.errors.count %> errors prohibited this book from being saved:</h2>

      <ul>
      <% @newbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'books/new', user: current_user%>
    </div>
    <div class="col-xs-9">
      <h1>Books</h1>
      <!-- 投稿一覧表 -->
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Body</th>
        </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= attachment_image_tag book.user,:profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
                </td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<!-- footer -->
<%= render 'books/footer', books: @books %>
</div>
