<!-- 各userの投稿画面（ログインしているユーザーの） -->
<!-- header -->
<%= render 'books/header', books: @books %>

<div class="container">
  <div class="row">
    <!-- サイドバー -->
    <div class="col-xs-3">
      <%= render 'books/new', user: @user%>
    </div>
    <div class="col-xs-9">
      <h1>Books detail</h1>
      <!-- 投稿一覧表 -->
      <table class="table">
        <tbody>
            <tr>
              <td>
                 <%= attachment_image_tag @user,:profile_image, :fill, 100, 100, format: 'jpeg' %><br>
                 <%= link_to user_path(@user) do %>
                  <%= @user.name %>
                  <% end %>
                </td>
              <td>
                <%= link_to book_path(@books) do %>
                <%= @books.title %>
                <% end %>
              </td>
              <td><%= @books.body %></td>
              <td>
                <% if @books.user == current_user %>
                <%= link_to "edit", edit_book_path(@books) %>
                  <%= link_to "delete", book_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- footer -->
<%= render 'books/footer', books: @books %>
</div>